<!DOCTYPE html>
<html>
  <head>
    <title>The Official Website of Woosah!</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="/css/colorbox.css" />
    <style type="text/css">
      body {
         background: url(/img/black-drops.jpg) repeat;
      }
      #container {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
      }
    footer {
      border-top-style: solid;
      border-top-width: 2px;
      border-top-color: black;
      padding-top: 50px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      clear:both;
    }
    </style> 
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.colorbox.js"></script>
    <script type="text/javascript">
      function yes() {
          var player = document.getElementById("playerid");
          player.pauseVideo();
          $.colorbox({html: "<h2>Hell Yeah!!!!!</h2><iframe width='600' height='400' src='http://www.youtube.com/embed/y6Sxv-sUYtM?enablejsapi=1&version=3&playerapiid=ytplayer&loop=1&autoplay=1&playlist=y6Sxv-sUYtM' frameborder='0' allowfullscreen></iframe><p>Listen to this song first. Then, </p><h3>It works, right?! So spread the word!</h3>",
      onClosed: function() {
             player.playVideo();
          }});
      }
    </script>
  </head>
  <body>
    <div id="container">
      <div class="hero-unit">
	<h1>Hey, You! Yes, you!</h1>
	<p>
	  Are you stressed, in panic, or just flustered? 
	</p>
	<h5>Listen to this demo. Then repeatedly say <b>whoosah!</b></h5>	 
	<embed id="playerid" width="800px" height="500px" allowfullscreen="true" allowscriptaccess="always" quality="high" name="playerid" src="http://www.youtube.com/v/LTGdAGPDBpo?enablejsapi=1&version=3&playerapiid=ytplayer&loop=1&autoplay=1&playlist=LTGdAGPDBpo" frameborder="0" type="application/x-shockwave-flash"></embed>
	<p>
	  <a href="javascript:yes()" id="yes" class="btn btn-primary btn-large">Hell yeah!</a>
	  <a href="javascript:window.location.href='http://www.calm.com/'" id="no" class="btn btn-danger">I'm still stressed!</a>
	</p>
      <footer>Made by <a href="http://alabidan.me">Daniel Alabi!</a>&nbsp;&copy; 2014</footer>
      </div>
    </div>
  </body>
</html>
